/* common top nav */
.container { width: 1300px !important; padding: 0; }

.navbar { position: relative; width: 100%; min-width: 1300px; min-height: 90px; margin: 0 auto 0; background: rgba(255, 255, 255, 0.95); border: 1px solid transparent; -ms-box-shadow: 0 1px 4px 0 #ececec; -webkit-box-shadow: 0 1px 4px 0 #ececec; -moz-box-shadow: 0 1px 4px 0 #ececec; box-shadow: 0 1px 4px 0 #ececec; }

.navbar-nav { height: 90px; }
.navbar-nav li { width: 102px; height: 90px; text-align: center; line-height: 90px; }
.navbar-nav li a { color: #333; padding: 26px; margin-top: 9px; font-size: 16px; }
.navbar-nav li a:hover, .navbar-nav li a:visited { background: #fff; }
.navbar-nav li .editor { display: inline-block; cursor: pointer; width: 44px; height: 44px; border: 1px solid #57ad68; border-radius: 50%; vertical-align: middle; overflow: hidden; margin-right: 50px; }
.navbar-nav li .editor .edit-con { display: inline-block; width: 38px; height: 38px; margin-left: 2px; margin-top: 2px; border-radius: 50%; text-align: center; background: -webkit-linear-gradient(left, rgba(101, 181, 117, 0.9), #55b668); }
.navbar-nav li .editor .edit-con .edit { width: 19px; height: 20px; margin-bottom: 56px; margin-left: 2px; }
.navbar-nav li.esp { margin-left: 390px; }
.navbar-nav li.esp > div { width: 230px; }
.navbar-nav li.esp a { padding: 17px !important; display: inline-block; text-decoration: none; font-size: 14px; line-height: 0; width: 126px; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; border: 1px solid rgba(120, 188, 133, 0.5); -ms-border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; color: #57ad68; cursor: pointer; }
.navbar-nav li.esp a:hover { border: none; color: #fff; background-color: #57ad68; -ms-transition: all 300ms linear; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; transition: all 300ms linear; }
.navbar-nav li.active { font-weight: bold; border-bottom: 3px solid #000000; }

.navbar-header { height: 90px; }
.navbar-header a { height: 90px; padding-left: 0; padding-right: 98px; margin: 0 !important; }
.navbar-header a img { margin-top: 11px; }

/* common footer nav */
.footer { clear: both; height: 117px; min-width: 1300px; width: 100%; background-color: #1a1818; color: #666; font-size: 12px; }
.footer .foot { width: 1300px; margin: auto; }
.footer .foot .foot-logo { width: 100px; margin-top: 35px; }
.footer .foot .foot-link { display: inline-block; vertical-align: top; height: 50px; margin-top: 42px; margin-left: 15px; }
.footer .foot .foot-link ul { height: 25px; padding-left: 0; margin-bottom: 0; }
.footer .foot .foot-link ul li { list-style: none; float: left; line-height: 25px; margin-right: 20px; text-align: left; }
.footer .foot .foot-link p { margin: 0 !important; }
.footer .foot .foot-icon { float: right; margin-top: 40px; }
.footer .foot .foot-icon li { list-style: none; float: left; width: 44px; height: 44px; margin-right: 18px; }
.footer .foot .foot-icon .footi1 { background: url(../img/foot-appH.png) no-repeat; background-size: 100%; }
.footer .foot .foot-icon .footi2 { background: url(../img/foot-sinaH.png) no-repeat; background-size: 100%; }
.footer .foot .foot-icon .footi3 { background: url(../img/foot-wechatH.png) no-repeat; background-size: 100%; }

/* home newest */
.newestAll { width: 100%; min-width: 1300px; }
.newestAll .newest { width: 960px; height: 480px; margin: 50px auto 150px; }
.newestAll .newest div { position: relative; padding: 0; overflow: hidden; }
.newestAll .newest div img { width: 100%; transition: all 0.5s; }
.newestAll .newest div .readStatus, .newestAll .newest div .radioStatus { transition: all 0.5s; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0; width: 100%; height: 80px; background: rgba(0, 0, 0, 0.4); position: absolute; left: 0; bottom: 0; margin: 0; }
.newestAll .newest div .readStatus i, .newestAll .newest div .radioStatus i { display: block; width: 30px; height: 1px; background: #fff; position: absolute; top: 20px; left: 20px; }
.newestAll .newest div .readStatus span, .newestAll .newest div .radioStatus span { line-height: 100px; margin-left: 20px; color: #fff; font-size: 14px; }
.newestAll .newest div .radioStatus { height: 100%; }
.newestAll .newest div .radioStatus i { position: relative; left: 0; top: 25px; margin: auto; }
.newestAll .newest div .radioStatus em { display: block; width: 82px; height: 82px; margin: 30% auto 0; background: url(../img/play-icon.png) no-repeat; background-size: 100%; }
.newestAll .newest div .radioStatus span { display: block; text-align: center; }
.newestAll .newest div a:hover img { -ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -moz-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); -ms-transition: transform 400ms linear; -webkit-transition: transform 400ms linear; -moz-transition: transform 400ms linear; transition: transform 400ms linear; }
.newestAll .newest div a:hover p { filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; }

/*# sourceMappingURL=main.css.map */
