<div class="pianke-banner">
    <div class="banner-box">
        <ul>
            <li><a><img src="./img/read_banner_1.JPG" alt="片刻网 | 用文字交换世界"></a></li>
            <li><a><img src="./img/read_banner_2.JPG" alt="片刻网 | 用文字交换世界"></a></li>
            <li><a><img src="./img/read_banner_3.JPG" alt="片刻网 | 用文字交换世界"></a></li>
            <li><a><img src="./img/read_banner_4.JPG" alt="片刻网 | 用文字交换世界"></a></li>
            <li><a><img src="./img/read_banner_5.JPG" alt="片刻网 | 用文字交换世界"></a></li>
            <li><a><img src="./img/read_banner_6.JPG" alt="片刻网 | 用文字交换世界"></a></li>
        </ul>
    </div>
    <em class="banner-btn btn-left"></em>
    <em class="banner-btn btn-right"></em>
</div>