<div class="footer">
    <div class="foot">
      <img class="foot-logo" src="./img/foot-logo.png">
      <div class="foot-link">
          <ul>
              <li>关于我们</li>
              <li>友情链接</li>
              <li>片刻帮助</li>
              <li>意见反馈</li>
              <li>成长记忆</li>
          </ul>
          <p>All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1</p>
      </div>
      <ul class="foot-icon">
          <li class="footi1"></li>
          <li class="footi2"></li>
          <li class="footi3"></li>
      </ul>
    </div>
</div>
