<div>
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="index"><img src="img/head-logo.png"></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active" ui-sref-active="active"><a ui-sref="index">首页</a></li>
                    <li ui-sref-active="active"><a ui-sref="read" >阅读</a></li>
                    <li ui-sref-active="active"><a ui-sref="radio">电台</a></li>
                    <li ui-sref-active="active"><a ui-sref="debris">碎片</a></li>
                    <li ui-sref-active="active"><a ui-sref="client">客户端</a></li>
                    <li class="esp">
                        <div>
                            <div class="editor">
                                <div class="edit-con">
                                    <img class="edit" src="img/edit-icon.png">
                                </div>
                            </div>
                            <a>登录 / 注册</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
