<div class="login">
    <i class="close" ng-click="closeLogin()"></i>
    <div class="login-content">
        <p class="login-title">世界很美，而你正好有空</p>
        <div class="con-top">
            <p><a href="" switchover class="active log">登录</a><a href="" class="register" switchover>注册</a></p>
            <div>
                <form>
                    <input placeholder="输入邮箱或手机号">
                    <input placeholder="密码i">
                    <a class="forget" href="">忘记密码?</a>
                    <a class="login-btn" href="">登录</a>
                </form>
            </div>
            <div class="register-con">
                <div>
                    <img src="img/pianke-code.png">
                </div>
            </div>
        </div>
        <div class="login-others">
            <p>社区账号登录：</p>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>