<div class="debris">
    <div class="timeline">
        <div class="now-date">
            <span>30</span>
            <span>June</span>
        </div>
        <div class="publish-content">
            <textarea placeholder="这一刻，你想说什么？"></textarea>
            <div>
                <div class="timeline-type">
                    <span class="active">公开</span>
                    <span>秘密</span>
                </div>
                <div class="upload">
                    <input>
                </div>
                <div class="timeline-tag">
                    添加标签
                </div>
                <div class="time-data">
                    <span>1</span>/140字
                </div>
                <a class="timeline-btn" href="">发布碎片</a>
            </div>
        </div>
    </div>
</div>
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title>Demo</title>-->
    <!--<script type="text/javascript">-->
        <!--function F_Open_dialog()-->
        <!--{-->
            <!--document.getElementById("btn_file").click();-->
        <!--}-->

    <!--</script>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
    <!--<input type="file" id="btn_file" style="display:none">-->
    <!--<img src="http://7u2nae.com1.z0.glb.clouddn.com/2.jpg" onclick="F_Open_dialog()">-->
<!--</div>-->

<!--</body>-->
<!--</html>-->