<div class="client">
    <div class="client-top">
        <div>
            <h1>世界很美，</h1>
            <h1>而你正好有空。</h1>
            <p>Stay with me,look around the world - 片刻V0.5</p>
            <a href="" class="ios-btn"><i></i>iOS下载</a>
            <a href="" class="android-btn"><i></i>Android下载</a>
            <div>
                <!--<img src="img/client-codeH.png">-->
            </div>
        </div>
    </div>
    <div>
        <div>
            <h2>01<span>白 + 黑模式</span></h2>
            <p>白天阅读、夜晚聆听，</p>
            <p>不同的时间就是要有不同的享受。</p>
        </div>
        <img>
        <div>
            <img>
            <div>
                <h2>02<span>直播</span></h2>
                <p>夜阑人静，给你最美的声音和故事</p>
            </div>
        </div>
        <div>
            <div>
                <h2>03<span>片刻社区</span></h2>
                <p>随心所欲的诉说，等你来和应</p>
            </div>
            <img>
        </div>
        <div>
            <img>
            <div>
                <h2>04</h2>
                <h3>生活馆，造有情之物</h3>
                <p>生活不只诗和远方，还有对美好事物的拥有</p>
            </div>
        </div>
        <div>
            <p>文字，电台，音乐，好物，满足你所有关于美好事物的想象。</p>
            <p>五个版本的更迭，片刻已经陪伴无数人度过了他们的孤单的时刻，</p>
            <p>如果你也有想表达的，在这里，永远有人在关注你。</p>
        </div>
    </div>
</div>