<div>
    <div id="Slide1" class="zy-Slide">
        <!--prev:元素中的文本通常会保留空格和换行符。而文本也会呈现为等宽字体。-->
        <section>前一张</section>
        <section>后一张</section>
        <ul>
            <!--alt + shift : 可以创建一个矩形选择区域-->
            <li><a href="#"><img src="http://pkimg.image.alimmdn.com/upload/20170607/d818133cfaa37a21c33b0f83d1c9f3e5.JPG"></a></li>
            <li><a href="#"><img src="http://pkimg.image.alimmdn.com/upload/20170605/0d144da74b1fcce96635bf796654ab5c.JPG"></a></li>
            <li><a href="#"><img src="http://pkimg.image.alimmdn.com/upload/20170424/1f0228123e2a97ef701337f4147bcd6b.JPG"></a></li>
            <li><a href="#"><img src="http://pkimg.image.alimmdn.com/upload/20170424/d360fe9a704805a2557aec4f080d5775.JPG"></a></li>
            <li><a href="#"><img src="http://pkimg.image.alimmdn.com/upload/20170424/63fadf9c7dbf681ae3fd5b2abcffd32e.JPG"></a></li>
            <li><a href="#"><img src="http://pkimg.image.alimmdn.com/upload/20170327/ac2673a13084d89209a1da395b6ba606.JPG"></a></li>
        </ul>
        <!--<ul>-->
            <!--&lt;!&ndash;alt + shift : 可以创建一个矩形选择区域&ndash;&gt;-->
            <!--<li><img src="http://pkimg.image.alimmdn.com/upload/20170607/d818133cfaa37a21c33b0f83d1c9f3e5.JPG"></li>-->
            <!--<li><img src="http://pkimg.image.alimmdn.com/upload/20170605/0d144da74b1fcce96635bf796654ab5c.JPG"></li>-->
            <!--<li><img src="http://pkimg.image.alimmdn.com/upload/20170424/1f0228123e2a97ef701337f4147bcd6b.JPG"></li>-->
            <!--<li><img src="http://pkimg.image.alimmdn.com/upload/20170424/d360fe9a704805a2557aec4f080d5775.JPG"></li>-->
            <!--<li><img src="http://pkimg.image.alimmdn.com/upload/20170424/63fadf9c7dbf681ae3fd5b2abcffd32e.JPG"></li>-->
            <!--<li><img src="http://pkimg.image.alimmdn.com/upload/20170327/ac2673a13084d89209a1da395b6ba606.JPG"></li>-->
        <!--</ul>-->
    </div>
</div>