<div class="read">
    <div class="classification">
        <p class="read-line"><span></span>分类 | Classification</p>
        <ul>
            <li>
                <a href="">
                    <img src="img/read1.jpg">
                    <em></em>
                    <div>
                        <h4>早安故事</h4>
                        <span>Story/1061篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read2.jpg">
                    <em></em>
                    <div>
                        <h4>晚安故事</h4>
                        <span>Essay/386篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read3.JPG">
                    <em></em>
                    <div>
                        <h4>生活苑</h4>
                        <span>Lifestyle/147篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read4.jpg">
                    <em></em>
                    <div>
                        <h4>奇妙物语</h4>
                        <span>Fantasy/249篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read5.jpg">
                    <em></em>
                    <div>
                        <h4>浮世绘</h4>
                        <span>World/515篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read6.jpg">
                    <em></em>
                    <div>
                        <h4>读心术</h4>
                        <span>Psychology/243篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read7.JPG">
                    <em></em>
                    <div>
                        <h4>破万卷</h4>
                        <span>Classics/699篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read8.jpg">
                    <em></em>
                    <div>
                        <h4>审片室</h4>
                        <span>Movie/362篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read9.JPG">
                    <em></em>
                    <div>
                        <h4>诗</h4>
                        <span>Poem/776篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read10.JPG">
                    <em></em>
                    <div>
                        <h4>片刻Talk</h4>
                        <span>Interview/81篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read11.jpg">
                    <em></em>
                    <div>
                        <h4>在路上</h4>
                        <span>Travels/195篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read12.JPG">
                    <em></em>
                    <div>
                        <h4>角儿</h4>
                        <span>Character/112篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read13.jpg">
                    <em></em>
                    <div>
                        <h4>视觉系</h4>
                        <span>Vision/755篇</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/read14.JPG">
                    <em></em>
                    <div>
                        <h4>片刻趴</h4>
                        <span>Party/86篇</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="hot-article">
        <p class="read-line"><span></span>热门文章 | Hot Articles</p>
        <ul>
            <li>
                <h2><a href="">不如就轻松告别吧</a></h2>
                <a href="">By / 贤菌</a>
                <em></em>
                <p>
                    告别是一件迷人的事，唏嘘感慨，拥抱寒暄，一挥手，从此江湖路远，在这漫长的一生中可能再不会相见。最近要结束一段生活，开始另一段行程，离别近在眼前，今天就说几件有关告别的事吧。1在济南上大学时，我喜欢的姑娘要来参加一个作家的签售会。她来那天我起很早，坐了两个小时车，从大学城赶到市区陪她。在车站等人是一个煎熬的过程，正当百无聊赖时，我看到一个瘦瘦的女孩穿过来来往往的人群，飞奔向一个手里提满行李的男孩。女...
                    <a href="">VIEW ALL<img src="img/viewall.png"></a>
                </p>
                <span>5.2 k次阅读  |  评论:27  |  喜欢:382</span>
            </li>
            <li>
                <h2><a href="">看过这10部电影，才知道什么是真正的“神反转”</a></h2>
                <a href="">By / 子戈</a>
                <em></em>
                <p>
                    『今日推荐』反转电影是非常有趣的一类电影，它用精巧的设计欺骗你，却又处处留下线索，到结尾处你才发现一切并不是自己想的那样，于是你会迫不及待的重看一遍，寻找导演早就埋在各个细节里的伏笔，去证明“反转”的合理性。这是一个有趣的过程。今天作者子戈推荐了10部反转电影，不含剧透，部部好看，请放心食用。今天，想跟大家聊一聊好的反转电影。开聊之前，我们先来确定一下讨论范围。首先，什么是“反转”？我总结了一下，...
                    <a href="">VIEW ALL<img src="img/viewall.png"></a>
                </p>
                <span>7.1 k次阅读  |  评论:30  |  喜欢:755</span>
            </li>
            <li>
                <h2><a href="">差一点，我们就地老天荒了</a></h2>
                <a href="">By / 米娅小姐啦</a>
                <em></em>
                <p>
                    0.我以为，生命中最值得快乐的事情无非五件：沮丧时有酒，彷徨时有路，坐列车穿越晨曦的旷野，赶上最后一班回家的地铁，以及，你站在马路对面，被红灯拦住，却打着手势说爱我。可就在许默离开之后，寥寥五件事减少了两件。然而我没料到的是，在分手后的第405天，我们还会再见面。1.与许默在一起的半年，是我人生中最最快乐的半年。可因为现实原因，我俩之间终究以天各一方收场。我回到布拉格工作，他留在维也纳继续周而复始...
                    <a href="">VIEW ALL<img src="img/viewall.png"></a>
                </p>
                <span>8.9 k次阅读  |  评论:25  |  喜欢:429</span>
            </li>
        </ul>
    </div>
    <ul>
        <li>
            <a href="">
                <img src="img/24hours.jpg">
            </a>
        </li> <li>
        <a href="">
            <img src="img/topic.jpg">
        </a>
    </li> <li>
        <a href="">
            <img src="img/wordcard.jpg">
        </a>
    </li>
    </ul>
</div>