<!-- newest  -->
<div class="newestAll">
  <div class="newest row">
    <div class="col-sm-6">
      <a>
        <img src="./img/10fad647f06f50af0446bcdcd9827c8220170618.jpg" alt="片刻网 | 用文字交换世界">
        <p class="readStatus">
          <i></i>
          <span>逃课去北大蹭课的日子—给每一个迷茫而渴望中的你</span>
        </p>
      </a>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <a>
          <img src="./img/e0d405c107de12c63a5a6b8dbd26c62b20170619.jpg" alt="片刻网 | 用文字交换世界">
          <p class="radioStatus">
            <em></em>
            <i></i>
            <span>你知道什么是“我的最爱”吗？</span>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a>
          <img src="./img/15a47dc8ac29e2fef6ef8c32e85fd6f920170620.jpg" alt="片刻网 | 用文字交换世界">
          <p class="readStatus">
            <i></i>
            <span>为什么你这么努力却毫无进步？</span>
          </p>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <a>
          <img src="./img/402727fbe299928f5a240a1ce3343cc420170618.jpg" alt="片刻网 | 用文字交换世界">
          <p class="radioStatus">
            <em></em>
            <i></i>
            <span>一位老师写给毕业生的一封信</span>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a>
          <img src="./img/a34d951070b8ba27260615044c2c1fd020170616.jpg" alt="片刻网 | 用文字交换世界">
          <p class="readStatus">
            <i></i>
            <span>从哪一刻开始，你想结婚了？</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>