<!-- newest  -->
<div class="newest-all">
  <div class="newest row">
    <div class="col-sm-6">
      <a>
        <img src="./img/10fad647f06f50af0446bcdcd9827c8220170618.jpg" alt="片刻网 | 用文字交换世界">
        <p class="read-status">
          <i></i>
          <span>逃课去北大蹭课的日子—给每一个迷茫而渴望中的你</span>
        </p>
      </a>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <a>
          <img src="./img/e0d405c107de12c63a5a6b8dbd26c62b20170619.jpg" alt="片刻网 | 用文字交换世界">
          <p class="radio-status">
            <em></em>
            <i></i>
            <span>你知道什么是“我的最爱”吗？</span>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a>
          <img src="./img/15a47dc8ac29e2fef6ef8c32e85fd6f920170620.jpg" alt="片刻网 | 用文字交换世界">
          <p class="read-status">
            <i></i>
            <span>为什么你这么努力却毫无进步？</span>
          </p>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <a>
          <img src="./img/402727fbe299928f5a240a1ce3343cc420170618.jpg" alt="片刻网 | 用文字交换世界">
          <p class="radio-status">
            <em></em>
            <i></i>
            <span>一位老师写给毕业生的一封信</span>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a>
          <img src="./img/a34d951070b8ba27260615044c2c1fd020170616.jpg" alt="片刻网 | 用文字交换世界">
          <p class="read-status">
            <i></i>
            <span>从哪一刻开始，你想结婚了？</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- read -->
<div class="home-read-all">
  <div class="home-read">
    <!-- home-title -->
    <p class="home-title"><i></i><span>阅读 | Read</span></p>
    <!-- home-read-item -->
    <ul class="home-read-item">
      <li>
        <div class="read-content">
          <h3 class="read-title"><a>幸福公寓</a></h3>
          <p class="read-author"><a>By / <span>张爱猴</span></a></p>
          <p class="read-mess">
            <i></i><span>试问谁不喜欢偷看对面楼的住户呢？</span><a class="more-btn">VIEW ALL<img src="img/viewall.png"></a>
          </p>
          <div class="read-data">
            <em><span>2.5 k</span>次阅读</em>|<em>评论:<span>9</span></em>|<em>喜欢:<span>162</span></em>
          </div>
        </div>
        <div class="read-thumb">
          <a><img src="img/1d05d82ba036b591dda18e66f3a3a18f20170619.jpg"></a>
        </div>
      </li>
      <li>
        <div class="read-content">
          <h3 class="read-title"><a>小确丧雀斑女孩</a></h3>
          <p class="read-author"><a>By / <span>SIMPOO</span></a></p>
          <p class="read-mess">
            <i></i><span>树上的蝉鸣 马路上发白的光 脸上小小的雀斑 沉入厌世眼中的小确丧 是关于你的夏天</span><a class="more-btn">VIEW ALL<img src="img/viewall.png"></a>
          </p>
          <div class="read-data">
            <em><span>77</span>次阅读</em>|<em>评论:<span>0</span></em>|<em>喜欢:<span>6</span></em>
          </div>
        </div>
        <div class="read-thumb">
          <a><img src="img/7ef8ec507cd00ac57f08dd4f75a3784d20170622.jpg"></a>
        </div>
      </li>
      <li>
        <div class="read-content">
          <h3 class="read-title"><a>幸福公寓</a></h3>
          <p class="read-author"><a>By / <span>张爱猴</span></a></p>
          <p class="read-mess">
            <i></i><span>试问谁不喜欢偷看对面楼的住户呢？</span><a class="more-btn">VIEW ALL<img src="img/viewall.png"></a>
          </p>
          <div class="read-data">
            <em><span>2.5 k</span>次阅读</em>|<em>评论:<span>9</span></em>|<em>喜欢:<span>162</span></em>
          </div>
        </div>
        <div class="read-thumb">
          <a><img src="img/7ef8ec507cd00ac57f08dd4f75a3784d20170622.jpg"></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- ting -->
<div class="home-ting-all">
  <div class="home-ting">
    <!-- home-title -->
    <p class="home-title"><i></i><span>电台 | TING</span></p>
    <!-- home-ting-item -->
    <div class="ting row">
      <div class="ting-box col-sm-4">
        <!-- pic -->
        <div>
          <a>
            <img src="./img/ebfe9272fa3977cf525dd7189a61244f20170621.jpg" alt="片刻网 | 用文字交换世界">
            <p class="radio-status">
              <em></em>
            </p>
          </a>
        </div>
        <!-- message -->
        <div class="read-content ting-content">
          <h3 class="read-title"><a>我凭什么要原谅你？</a></h3>
          <p class="read-author"><a>By / <span>拾荒Demo</span></a></p>
          <p class="read-data">
            <em><span>2.5 k</span>次阅读</em>|<em>评论:<span>9</span></em>|<em>喜欢:<span>162</span></em>
          </p>
        </div>
      </div>
      <div class="ting-box col-sm-4">
        <!-- pic -->
        <div>
          <a>
            <img src="./img/862d3a8121cf31e2814585bf60ccc2e720170414.jpg" alt="片刻网 | 用文字交换世界">
            <p class="radio-status">
              <em></em>
            </p>
          </a>
        </div>
        <!-- message -->
        <div class="read-content ting-content">
          <h3 class="read-title"><a>心沉下去，生活才满溢出来</a></h3>
          <p class="read-author"><a>By / <span>回忆的疯子.</span></a></p>
          <p class="read-data">
            <em><span>2.5 k</span>次阅读</em>|<em>评论:<span>9</span></em>|<em>喜欢:<span>162</span></em>
          </p>
        </div>
      </div>
      <div class="ting-box col-sm-4">
        <!-- pic -->
        <div>
          <a>
            <img src="./img/f2d0e249c0cf3a7bc5c767ebb6d7a8b620170317.jpg" alt="片刻网 | 用文字交换世界">
            <p class="radio-status">
              <em></em>
            </p>
          </a>
        </div>
        <!-- message -->
        <div class="read-content ting-content">
          <h3 class="read-title"><a>过程-林白</a></h3>
          <p class="read-author"><a>By / <span>大鱼电台</span></a></p>
          <p class="read-data">
            <em><span>2.5 k</span>次阅读</em>|<em>评论:<span>9</span></em>|<em>喜欢:<span>162</span></em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hot pianker -->
<div class="hot-pianker-all">
  <div class="home-hot">
    <!-- home-title -->
    <p class="home-title"><i></i><span>人气片客 | Hot Pianker</span></p>
    <!-- home-hot-item -->
    <div class="row">
      <div class="hot-pianker-data col-sm-3">
        <div class="pianker-data">
          <div class="data-left">
            <a><img src="img/7f71be41jw8etj0gb4oovj20e80e8mxf.jpg" alt="人气片刻"></a>
            <img src="img/user_musician.png">
          </div>
          <div class="data-rigth">
            <a><p>MrMiss组合</p></a>
            <i></i>
            <span>28届金曲奖最佳演唱組合/爵士人声组合MrMiss</span>
          </div>
        </div>
      </div>
      <div class="hot-pianker-data col-sm-3">
        <div class="pianker-data">
          <div class="data-left">
            <a><img src="img/ed0b4ea012dd3fcca4160b53db511e8c20170225.jpg" alt="人气片刻"></a>
            <img src="img/user_musician.png">
          </div>
          <div class="data-rigth">
            <a><p>音乐人陈敏</p></a>
            <i></i>
            <span>游走于冷峻与慵懒之间的内省歌者</span>
          </div>
        </div>
      </div>
      <div class="hot-pianker-data col-sm-3">
        <div class="pianker-data">
          <div class="data-left">
            <a><img src="img/2c91ce088f84ab295bb0f9df442ea333.png@300w_300h_1e_1c_85Q.jpg" alt="人气片刻"></a>
            <img src="img/user_musician.png">
          </div>
          <div class="data-rigth">
            <a><p>谈丽君</p></a>
            <i></i>
            <span>独立音乐人/创作歌手</span>
          </div>
        </div>
      </div>
      <div class="hot-pianker-data col-sm-3">
        <div class="pianker-data">
          <div class="data-left">
            <a><img src="img/9287a91731ef3aad62b965267b8e7b12.png@300w_300h_1e_1c_85Q.jpg" alt="人气片刻"></a>
            <img src="img/user_musician.png">
          </div>
          <div class="data-rigth">
            <a><p>荷马先生</p></a>
            <i></i>
            <span>城市民谣音乐人</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- more data -->
<div class="home-more-all">
  <div class="home-more-btn">
    <div class="more-border">
      <p class="more-content">查看更多精选内容</p>
    </div>
  </div>
  <div class="home-data">
    <!-- data title -->
    <div class="home-data-tit">
      <p class="home-title"><i></i><span>往期精选</span></p>
    </div>
    <!-- data -->
    <div class="home-once">
      <ul>
        <li>
          <a class="card-pic">
            <img src="./img/dfbdb79e68f11b8e01252b416d128b2820170622.jpg" alt="片刻网 | 用文字交换世界">
            <p class="ting-true">
              <em></em>
            </p>
          </a>
          <div class="card-item">
            <div class="card-ting-title">
              <a>心里重复一万遍，不要放弃我</a>
            </div>
            <div class="user-sign">
              <a>主播 / 树上有云</a>
            </div>
            <div class="card-others">
              <span class="card-type">
                <a>Ting</a>
              </span>
              <span class="card-data">13.2 k次播放 | 评论:4 | 喜欢:113</span>
            </div>
            <div class="card-user">
              <div class="card-user-info">
                <a><img src="./img/6f0d919djw1e8qgp5bmzyj2050050aa8.jpg" width="">树上有云</a>
              </div>
              <em class="card-likes"></em>
            </div>
          </div>
        </li>
        <li>
          <a class="card-pic">
            <img src="./img/f3d24285590c017f7c62be51d7ab27da20170626.jpg" alt="片刻网 | 用文字交换世界">
            <p class="ting-true">
              <em></em>
            </p>
          </a>
          <div class="card-item">
            <div class="card-ting-title">
              <a>说好了，毕业不掉眼泪</a>
            </div>
            <div class="user-sign">
              <a>主播 / DJ沙漠</a>
            </div>
            <div class="card-others">
              <span class="card-type">
                <a>Ting</a>
              </span>
              <span class="card-data">1.7 k次播放  |  评论:3  |  喜欢:25</span>
            </div>
            <div class="card-user">
              <div class="card-user-info">
                <a><img src="./img/946f15dd6ba9720c33dff3cc459a51f920170606.jpg" width="">DJ沙漠</a>
              </div>
              <em class="card-likes"></em>
            </div>
          </div>
        </li>
        <li>
          <a class="card-pic">
            <img src="./img/2cd00a730cb61b53f4e52001853a164820170626.jpg" alt="片刻网 | 用文字交换世界">
            <p class="read-true">
              <em></em>
            </p>
          </a>
          <div class="card-item">
            <div class="read-content card-read">
              <h3 class="read-title"><a>一无所有还追求着梦想和爱情，永远最打动人心</a></h3>
              <p class="read-mess">
                <i></i><span>『今日推荐』每个人毕业之后，都会面临人生何去何从的考验。抉择无非三种：1，追求梦想；2，享受恋爱；3，认真工作。有的人会为了梦想放弃爱情，有的人在日复一日的工作</span>
              </p>
            </div>
            <div class="card-others">
              <span class="card-type">
                <a>阅读</a>
              </span>
              <span class="card-data">568次阅读  |  评论:1  |  喜欢:39</span>
            </div>
            <div class="card-user">
              <div class="card-user-info">
                <a><img src="./img/fbf025e04ba64595cd0d64951ac69c5320170521.jpg" width="">周艾人</a>
              </div>
              <em class="card-likes"></em>
            </div>
          </div>
        </li>
        <li>
          <a class="card-pic">
            <img src="./img/734fc4dc7b5820b8515507ef3debb1e5.JPG@640w_85Q.jpg" alt="片刻网 | 用文字交换世界">
            <p class="ting-true">
              <em></em>
            </p>
          </a>
          <div class="card-item">
            <div class="card-ting-title">
              <a>我希望有个如你一般的人</a>
            </div>
            <div class="user-sign">
              <a>主播 / 半岛玫瑰</a>
            </div>
            <div class="card-others">
              <span class="card-type">
                <a>Ting</a>
              </span>
              <span class="card-data">774.4 k次播放  |  评论:408  |  喜欢:2.6 k</span>
            </div>
            <div class="card-user">
              <div class="card-user-info">
                <a><img src="./img/86dc2848b247c367e417cad43d7b648520170220.jpg" width="">半岛玫瑰</a>
              </div>
              <em class="card-likes"></em>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="home-data-bottom"></div>
</div>
