<!-- newest  -->
<div class="newest-all">
  <div class="newest row">
    <div class="col-sm-6">
      <a>
        <img src="./img/10fad647f06f50af0446bcdcd9827c8220170618.jpg" alt="片刻网 | 用文字交换世界">
        <p class="read-status">
          <i></i>
          <span>逃课去北大蹭课的日子—给每一个迷茫而渴望中的你</span>
        </p>
      </a>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <a>
          <img src="./img/e0d405c107de12c63a5a6b8dbd26c62b20170619.jpg" alt="片刻网 | 用文字交换世界">
          <p class="radio-status">
            <em></em>
            <i></i>
            <span>你知道什么是“我的最爱”吗？</span>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a>
          <img src="./img/15a47dc8ac29e2fef6ef8c32e85fd6f920170620.jpg" alt="片刻网 | 用文字交换世界">
          <p class="read-status">
            <i></i>
            <span>为什么你这么努力却毫无进步？</span>
          </p>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-6">
        <a>
          <img src="./img/402727fbe299928f5a240a1ce3343cc420170618.jpg" alt="片刻网 | 用文字交换世界">
          <p class="radio-status">
            <em></em>
            <i></i>
            <span>一位老师写给毕业生的一封信</span>
          </p>
        </a>
      </div>
      <div class="col-sm-6">
        <a>
          <img src="./img/a34d951070b8ba27260615044c2c1fd020170616.jpg" alt="片刻网 | 用文字交换世界">
          <p class="read-status">
            <i></i>
            <span>从哪一刻开始，你想结婚了？</span>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- read -->
<div class="home-read-all">
  <div class="home-read">
    <!-- home-title -->
    <p class="home-title"><i></i><span>阅读 | Read</span></p>
    <!-- home-read-item -->
    <ul class="home-read-item">
      <li>
        <div class="read-content">
          <h3 class="read-title"><a>幸福公寓</a></h3>
          <p class="read-author"><a>By / <span>张爱猴</span></a></p>
          <p class="read-mess">
            <i></i><span>试问谁不喜欢偷看对面楼的住户呢？</span><a>VIEW ALL<img src="img/viewall.png"></a>
          </p>
          <div class="read-data">
            <em><span>2.5 k</span>次阅读</em>|<em>评论:<span>9</span></em>|<em>喜欢:<span>162</span></em>
          </div>
        </div>
        <div class="read-thumb">
          <a><img src="img/1d05d82ba036b591dda18e66f3a3a18f20170619.jpg"></a>
        </div>
      </li>
      <li>
        <div class="read-content">
          <h3 class="read-title"><a>小确丧雀斑女孩</a></h3>
          <p class="read-author"><a>By / <span>SIMPOO</span></a></p>
          <p class="read-mess">
            <i></i><span>树上的蝉鸣 马路上发白的光 脸上小小的雀斑 沉入厌世眼中的小确丧 是关于你的夏天</span><a>VIEW ALL<img src="img/viewall.png"></a>
          </p>
          <div class="read-data">
            <em><span>77</span>次阅读</em>|<em>评论:<span>0</span></em>|<em>喜欢:<span>6</span></em>
          </div>
        </div>
        <div class="read-thumb">
          <a><img src="img/7ef8ec507cd00ac57f08dd4f75a3784d20170622.jpg"></a>
        </div>
      </li>
      <li>
        <div class="read-content">
          <h3 class="read-title"><a>幸福公寓</a></h3>
          <p class="read-author"><a>By / <span>张爱猴</span></a></p>
          <p class="read-mess">
            <i></i><span>试问谁不喜欢偷看对面楼的住户呢？</span><a>VIEW ALL<img src="img/viewall.png"></a>
          </p>
          <div class="read-data">
            <em><span>2.5 k</span>次阅读</em>|<em>评论:<span>9</span></em>|<em>喜欢:<span>162</span></em>
          </div>
        </div>
        <div class="read-thumb">
          <a><img src="img/7ef8ec507cd00ac57f08dd4f75a3784d20170622.jpg"></a>
        </div>
      </li>
    </ul>
  </div>
</div>
