<div class="radio">
    <p><a href="javascript:;" class="active" switchover>精选</a><a href="javascript:;" switchover>全部电台</a></p>
    <div class="radio-select">
        <div class="classify">
            <ul>
                <li><a href=""><i></i>爱情</a></li>
                <li><a href=""><i></i>旅行</a></li>
                <li><a href=""><i></i>故事</a></li>
                <li><a href=""><i></i>音乐</a></li>
                <li><a href=""><i></i>电影</a></li>
                <li><a href=""><i></i>读诗</a></li>
            </ul>
        </div>
        <div class="recommendation">
            <p class="mark-line"><span></span>推荐TING | Recommendation TING</p>
            <ul class="radio-list">
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/ting1.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">我希望有个如你一般的人</a></h2>
                        <a href="">主播 / 半岛玫瑰</a>
                        <p>766.2 k次播放  |  评论:396  |  喜欢:2.5 k</p>
                    </div>
                </li>
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/ting2.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">年年有鱼</a></h2>
                        <a href="">主播 / 喜欢讲故事的小苏叶</a>
                        <p>10.5 k次播放  |  评论:70  |  喜欢:163</p>
                    </div>
                </li>
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/ting3.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">心里重复一万遍，不要放弃我</a></h2>
                        <a href="">主播 / 树上有云</a>
                        <p>12.2 k次播放  |  评论:4  |  喜欢:108</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="top-ting">
            <p class="mark-line"><span></span>TOP TING</p>
            <ul class="radio-list">
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/top1.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">我的梦想很小，就是成为他的骄傲</a></h2>
                        <a href="">主播 / Nj大河</a>
                        <p>894次播放  |  评论:0  |  喜欢:7</p>
                    </div>
                </li>
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/top2.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">这个夏天不说再见</a></h2>
                        <a href="">主播 / 孤独的野猫</a>
                        <p>1.3 k次播放  |  评论:3  |  喜欢:8</p>
                    </div>
                </li>
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/top3.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">「诉听」眼界决定你的处境</a></h2>
                        <a href="">主播 / 诉听犹人</a>
                        <p>2.0 k次播放  |  评论:3  |  喜欢:11</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="hot-radio">
            <p class="mark-line"><span></span>热门电台 | Hot Radio</p>
            <ul>
                <li>
                    <div class="hot-top">
                        <img class="first-img" src="img/hot1.jpg">
                        <img class="sec-img" src="img/hot1.jpg">
                        <img class="third-img" src="img/hot1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="hot-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="hot-top">
                        <img class="first-img" src="img/hot2.jpg">
                        <img class="sec-img" src="img/hot2.jpg">
                        <img class="third-img" src="img/hot2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="hot-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="hot-top">
                        <img class="first-img" src="img/hot3.jpg">
                        <img class="sec-img" src="img/hot3.jpg">
                        <img class="third-img" src="img/hot3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="hot-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="new-voice">
            <p class="mark-line"><span></span>最新发声 | New Voice</p>
            <ul class="radio-list">
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/new1.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">说好了，毕业不掉眼泪</a></h2>
                        <a href="">主播 / DJ沙漠</a>
                        <p>137次播放  |  评论:0  |  喜欢:3</p>
                    </div>
                </li>
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/new2.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">薛之谦：没有深爱过唱不出动人的歌</a></h2>
                        <a href="">主播 / 主播戴杰</a>
                        <p>98次播放  |  评论:0  |  喜欢:0</p>
                    </div>
                </li>
                <li>
                    <div class="list-top">
                        <a href="">
                            <img src="img/new3.jpg">
                            <em></em>
                            <i></i>
                        </a>
                    </div>
                    <div class="list-bottom">
                        <h2><a href="">簌簌山间雪</a></h2>
                        <a href="">主播 / 大鱼电台</a>
                        <p>81次播放  |  评论:0  |  喜欢:0</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="radio-all">
        <div class="radio-nav">
            <label>分类：</label>
            <ul>
                <li><a href="">故事</a></li>
                <li><a href="">音乐</a></li>
                <li><a href="">读诗</a></li>
                <li><a href="">电影</a></li>
                <li><a href="">旅行</a></li>
                <li><a href="">爱情</a></li>
            </ul>
        </div>
        <div class="all-content">
            <ul>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot1.jpg">
                        <img class="sec-img" src="img/hot1.jpg">
                        <img class="third-img" src="img/hot1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot2.jpg">
                        <img class="sec-img" src="img/hot2.jpg">
                        <img class="third-img" src="img/hot2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot3.jpg">
                        <img class="sec-img" src="img/hot3.jpg">
                        <img class="third-img" src="img/hot3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all1.jpg">
                        <img class="sec-img" src="img/all1.jpg">
                        <img class="third-img" src="img/all1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all2.jpg">
                        <img class="sec-img" src="img/all2.jpg">
                        <img class="third-img" src="img/all2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all3.jpg">
                        <img class="sec-img" src="img/all3.jpg">
                        <img class="third-img" src="img/all3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot1.jpg">
                        <img class="sec-img" src="img/hot1.jpg">
                        <img class="third-img" src="img/hot1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot2.jpg">
                        <img class="sec-img" src="img/hot2.jpg">
                        <img class="third-img" src="img/hot2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot3.jpg">
                        <img class="sec-img" src="img/hot3.jpg">
                        <img class="third-img" src="img/hot3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all1.jpg">
                        <img class="sec-img" src="img/all1.jpg">
                        <img class="third-img" src="img/all1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all2.jpg">
                        <img class="sec-img" src="img/all2.jpg">
                        <img class="third-img" src="img/all2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all3.jpg">
                        <img class="sec-img" src="img/all3.jpg">
                        <img class="third-img" src="img/all3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot1.jpg">
                        <img class="sec-img" src="img/hot1.jpg">
                        <img class="third-img" src="img/hot1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot2.jpg">
                        <img class="sec-img" src="img/hot2.jpg">
                        <img class="third-img" src="img/hot2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot3.jpg">
                        <img class="sec-img" src="img/hot3.jpg">
                        <img class="third-img" src="img/hot3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all1.jpg">
                        <img class="sec-img" src="img/all1.jpg">
                        <img class="third-img" src="img/all1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all2.jpg">
                        <img class="sec-img" src="img/all2.jpg">
                        <img class="third-img" src="img/all2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all3.jpg">
                        <img class="sec-img" src="img/all3.jpg">
                        <img class="third-img" src="img/all3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot1.jpg">
                        <img class="sec-img" src="img/hot1.jpg">
                        <img class="third-img" src="img/hot1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot2.jpg">
                        <img class="sec-img" src="img/hot2.jpg">
                        <img class="third-img" src="img/hot2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot3.jpg">
                        <img class="sec-img" src="img/hot3.jpg">
                        <img class="third-img" src="img/hot3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all1.jpg">
                        <img class="sec-img" src="img/all1.jpg">
                        <img class="third-img" src="img/all1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all2.jpg">
                        <img class="sec-img" src="img/all2.jpg">
                        <img class="third-img" src="img/all2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all3.jpg">
                        <img class="sec-img" src="img/all3.jpg">
                        <img class="third-img" src="img/all3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot1.jpg">
                        <img class="sec-img" src="img/hot1.jpg">
                        <img class="third-img" src="img/hot1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot2.jpg">
                        <img class="sec-img" src="img/hot2.jpg">
                        <img class="third-img" src="img/hot2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot3.jpg">
                        <img class="sec-img" src="img/hot3.jpg">
                        <img class="third-img" src="img/hot3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all1.jpg">
                        <img class="sec-img" src="img/all1.jpg">
                        <img class="third-img" src="img/all1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all2.jpg">
                        <img class="sec-img" src="img/all2.jpg">
                        <img class="third-img" src="img/all2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all3.jpg">
                        <img class="sec-img" src="img/all3.jpg">
                        <img class="third-img" src="img/all3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot1.jpg">
                        <img class="sec-img" src="img/hot1.jpg">
                        <img class="third-img" src="img/hot1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot2.jpg">
                        <img class="sec-img" src="img/hot2.jpg">
                        <img class="third-img" src="img/hot2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/hot3.jpg">
                        <img class="sec-img" src="img/hot3.jpg">
                        <img class="third-img" src="img/hot3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all1.jpg">
                        <img class="sec-img" src="img/all1.jpg">
                        <img class="third-img" src="img/all1.jpg">
                        <em></em>
                        <a href=""><span>-<br>给你片刻最新发声 ......『片刻每日新声推荐』</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">最新发声</a></h1>
                        <a href="">主播 / pianketing</a>
                        <p>11.2m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all2.jpg">
                        <img class="sec-img" src="img/all2.jpg">
                        <img class="third-img" src="img/all2.jpg">
                        <em></em>
                        <a href=""><span>-<br>轻轻唱给你听的...</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">安琪的吉他屋</a></h1>
                        <a href="">主播 / anqiiiiiiiii</a>
                        <p>4.7m次播放</p>
                    </div>
                </li>
                <li>
                    <div class="all-top">
                        <img class="first-img" src="img/all3.jpg">
                        <img class="sec-img" src="img/all3.jpg">
                        <img class="third-img" src="img/all3.jpg">
                        <em></em>
                        <a href=""><span>-<br>每天都来和你聊聊天说说话，唱首歌，然后和你说晚安，愿你每晚都好眠。</span></a>
                    </div>
                    <div class="all-bottom">
                        <h1><a href="">和你说晚安</a></h1>
                        <a href="">主播 / woo崆</a>
                        <p>208.2k次播放</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>